{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
	<div class="container ">
	<br>
	<br>
	<br>
	<br>
	<div class="row "></div>
		<div class="row ">
			<div class="col l4 s6 offset-l4 offset-s3 ">
			<div class="section">
			{% if error %}
				<div class="card-panel red darken-1">
					{{ error.messageKey | trans(error.messagedata, 'security') }}
				</div>
			{% endif %}
				<form action="{{ path('login') }}" method="post">
					<div class="input-field">
						<label for="login">Login</label>
						<input class="validate" type="text" id="username" name="_username" value="{{ last_username }}">
						
					</div>

					<div class="input-field">
						<label for="password">Mot de passe</label>
						<input class="validate" type="password" id="password" name="_password" >
						
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn waves-effect waves-light">Se connecter</button>
				</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}