<div class="row">
		<div class=" col s6 offset-s3">
			
			{{ form_start(form) }}
				{{ form_rest(form) }}
				<button class="btn waves-effect waves-light">
				{{ button|default('Enregistrer') }}
			</button>
			{{ form_end(form) }}

	
        </div>
	</div>





         
