{% extends 'baseAdmin.html.twig' %}

{% block title 'Modifier l\'agent afiilé' %}

{% block body %}
	<div class="container">
	<h1>Modifier l'agent afiilé</h1>
		{{ include('admin/form/_form.html.twig', {button: 'Editer'}) }}
	</div>

{% endblock %}
