{% extends 'baseAgentAff.html.twig' %}

{% block title 'Ajouter une note' %}

{% block body %}
	<div class="container">
	<h1>Ajouter une note</h1>
		{#% if error %}
			<div class="card-panel red darken-1">
				{{ error }}
			</div>
		{% endif %#}
		{#{ include('adminGene/form/_form.html.twig', {button: 'Ajouter'}) }#}
		<form action="{{ path('agentAff.demande.note.newNote', {id: demande.numcommande}) }}" method="post">
                <input type="number" name="note" step="0.05" min="0" max="5" required>
				<!--textarea name="content" placeholder="Contenu du rapport" class="materialize-textarea"></textarea-->
				<input type="submit" href="{{ path('agentAff.demande.note.newNote', {id: demande.numcommande }) }}" class="waves-effect waves-light btn-large" value="Ajouter">
		</form>
	</div>

{% endblock %}

{% block javascripts %}
   
     <script type="text/javascript"> 
   $(document).ready(function(){
    $('select').formSelect();
  });
    </script>
{% endblock %}

