{% extends 'base.html.twig' %}

{% block title 'Modifier le matériel' %}

{% block body %}
	<div class="container">
	<h1>Modifier le matériel</h1>
		{{ include('adminGene/materiel/_form.html.twig', {button: 'Editer'}) }}
	</div>

{% endblock %}