{% extends 'base.html.twig' %}

{% block title 'Ajouter le matériel' %}

{% block body %}
	<div class="container">
	<h1>Ajouter un matériel</h1>
		{{ include('adminGene/materiel/_form.html.twig', {button: 'Ajouter'}) }}
	</div>

{% endblock %}