{#% extends 'base.html.twig' %#}
{% extends 'baseAgentAff.html.twig' %}

{% block title 'Matériels' %}

{% block body %}
		{% for message in app.flashes('success') %}
			<div class="card-panel green accent-3">
				{{ message }}
			</div>
		{% endfor %}

	<div class="container">
		<h1>Matériel</h1>
		
		<div>
			{% for materiel in materiels %}
				{% include 'agentAff/materiel/_materiel.html.twig' %}
			{% endfor %}
		</div>
		<div>
    		{{ knp_pagination_render(materiels) }}
		</div>
	</div>


 


{% endblock %}