{% extends 'baseAdminGene.html.twig' %}

{% block title 'Modifier le rapport' %}

{% block body %}
	<div class="container">
	<h1>Modifier le rapport</h1>
		{{ include('adminGene/form/_form.html.twig', {button: 'Editer'}) }}
	</div>

{% endblock %}
