<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %} 
						<link rel="stylesheet" href="{{asset("build/css/app.css")}}">
  			{% endblock %}
    </head>
    <body>	
    	<header>
        		  <div class="navbar-fixed">
				    <nav>
				      <div class="nav-wrapper">
				        <a href="{{ path('home') }}" class="brand-logo">Logo</a>
				        <ul class="right hide-on-med-and-down">
				          <li><a href="{{ path('materiel.index') }}">Matériels</a></li>
				       
				        </ul>
				      </div>
				    </nav>
 				 </div>
        	</header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{asset('build/js/app.js')}}"></script>
        {% endblock %}

  		
    </body>
</html>
