<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %} 
					{% stylesheets filter="sass"
    			'@AppBundle/Resources/public/materialize-src/sass/materialize.scss' %}
      
    			{% endstylesheets %}   
  			{% endblock %}
    </head>
    <body>	
    	<header>
        		  <div class="navbar-fixed">
				    <nav>
				      <div class="nav-wrapper">
				        <a href="{{ path('home') }}" class="brand-logo">Logo</a>
				        <ul class="right hide-on-med-and-down">
				          <li><a href="{{ path('materiel.index') }}">Matériels</a></li>
				       
				        </ul>
				      </div>
				    </nav>
 				 </div>
        	</header>
        {% block body %}{% endblock %}
        {% block javascripts %}
          {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/jquery-2.1.4.js'
            '@AppBundle/Resources/public/materialize-src/js/*'            
            %}
            
            {% endjavascripts %}
     
    
        {% endblock %}

  		
    </body>
</html>
